// *----------------------------------*\
//  Settings > Type
// *----------------------------------*/

$font-serif:      Georgia, serif;
$font-sans-serif: Roboto, Helvetica, Arial, sans-serif;
$font-monospace:  Courier, monospace;

$font-size-base:   18px;
$font-size-medium: 16px;
$font-size-small:  14px;
$font-size-tiny:   12px;

$font-weight-regular: 400;
$font-weight-medium:  500;
$font-weight-bold:    700;

$line-height-base:   1.5;